input{
    border-radius: 10%;
    background-color:rgba(230, 221, 221, 0.93);
    float:right
}

#mpd {
    width: 300px;
    height: 200px;
    background-color: rgb(222, 55, 55);
    border: 3px;
    float:left;
    border-radius: 10%;
    margin: 10px;


}

#mpd2 {
    width: 300px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border: 3px;
    float:left;
    border-radius: 10%;
    margin: 10px;


}

#mpd2 {
    width: 350px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border: 3px;
    float:left;
    border-radius: 10%;
    margin: 10px;

}




